/* ===================================== 
   Base Styles
======================================== */

* {
	box-sizing: border-box;
}

/* ===================================== 
   Grid Layout
======================================== */

.grid {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 20px;
    margin: 45px auto;
    background-color: orange;
}

div {
    background-color: blue;
}